body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%; /* Asegura que el cuerpo y el HTML ocupen el 100% del viewport */
    min-height: 100%; /* Establece la altura mínima del cuerpo y el HTML como el 100% del viewport */
    max-width: 100%; /* Establece el ancho máximo del cuerpo y el HTML como el 100% del viewport */
}

.seccion {
    width: 50%; /* El 50% del ancho de la página menos el margen izquierdo */
    padding: 20px; /* importante este padding*/
    box-sizing: border-box;
    height: 380vh;
}
/* Estilos específicos para la sección derecha */
.seccion.derecha {
    background-color: #f0f0f0;
    margin-left: 15px;

}

.input-container {
    display: flex; /* Usa Flexbox */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: center; /* Alinea los inputs verticalmente */
    gap: 20px; /* Espacio uniforme entre inputs */
}


/* Estilos específicos para la sección izquierda */
.seccion.izquierda {
    background-color: #e0e0e0;
}

.centered-container {
    display: flex;
    flex-direction: row;
    align-items: center; /* Centra los elementos a lo largo del eje transversal,
    que en este caso es vertical. Esto asegura que los elementos estén centrados
    verticalmente dentro del contenedor. */

    justify-content: center; /*Centra los elementos a lo largo del eje principal,
     que en este caso es horizontal. Esto asegura que los elementos estén centrados
      horizontalmente dentro del contenedor. */
    text-align: center;
    position: fixed; /* Establece la posición del contenedor como fija. Un elemento
     con posición fija se mantiene en la    misma posición incluso cuando la página
      se desplaza. */
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #f8f9fa;

}


/* Estilos de la tabla */
.input-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}

 

/* Estilo para las líneas verticales */
.middle {
    border-left: 1px solid #000; /* Línea izquierda */
    border-right: 1px solid #000; /* Línea derecha */
}

/* Estilo de los inputs */
.input-cell input {
    size: 50;
    text-align: center;
    box-sizing: border-box;
}


.diamond {
    width: 100px;
    height: 100px;
    background-color: #000;
    position: relative;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    transform: rotate(-45deg); /* Para que el círculo no rote con el diamante */
}